.Icon-error {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-left: 10px;
  /* background-color: #CCC; */
}
